extends layout

block content
  h1= title
  
  ul(class='list-group')
  each task in tasks    
    if task.status == 'completed'
      li(class="list-group-item list-group-item-success" style='list-style: none')
        span(class='text-success') #{task.description}  #{task.status} 
        a(href='/todo/task/'+task.id+'/update') Update 
        a(href='/todo/task/'+task.id+'/delete') Delete 
    else
      li(class="list-group-item list-group-item-danger" style='list-style: none')
        span(class='text-danger') #{task.description}  #{task.status} 
        a(href='/todo/task/'+task.id+'/update') Update 
        a(href='/todo/task/'+task.id+'/delete') Delete
  else
    li(style='list-style: none') Task list is empty